body {
    background: #0b0e1a;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

.top-header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #ffda79;
}

.card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255,215,0,0.1);
}

.big-clock {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.tool-display {
    font-size: 32px;
    text-align: center;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #ffda79;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

select, input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
